// Colours: ------------------------
@ColBlueLight:    #0184bc;
@ColCyanDark:     #008a8c;
@ColPink:         #ff00ff;
@ColOrangeDark:   #ff8700;

// https://upload.wikimedia.org/wikipedia/commons/1/15/Xterm_256color_chart.svg
// https://www.w3schools.com/colors/colors_hsl.asp

// Assignments: ------------------------
// line comments:
.syntax--comment-bash   { color: green; }
.syntax--comment-c      { color: red; }
.syntax--comment-red    { color: red; }
.syntax--comment-green  { color: green; }
.syntax--comment-blue   { color: blue; }
.syntax--comment-orange { color: orange; }
.syntax--comment-purple { color: purple; }
.syntax--comment-cyan   { color: @ColCyanDark; }
.syntax--comment-white  { color: white; }

.syntax--comment-highlight-red    { color: black; font-weight: bold; background-color: red; }
.syntax--comment-highlight-green  { color: white; font-weight: bold; background-color: green; }
.syntax--comment-highlight-blue   { color: white; font-weight: bold; background-color: blue; }
.syntax--comment-highlight-orange { color: black; font-weight: bold; background-color: orange; }
.syntax--comment-highlight-purple { color: white; font-weight: bold; background-color: purple; }
.syntax--comment-highlight-cyan   { color: white; font-weight: bold; background-color: @ColCyanDark; }

// keywords:
.syntax--keyword-symbol   { color: @ColPink; }
.syntax--keyword-number   { color: @ColOrangeDark; }
.syntax--keyword-website  { color: @ColBlueLight; font-style: italic; text-decoration: underline; }  //overline (CSS text properties).
.syntax--keyword-todo     { color: red; font-weight: bold; background-color: black; }

// blocks:
.syntax--block-red    { color: red; }
.syntax--block-green  { color: green; }
.syntax--block-blue   { color: blue; }
.syntax--block-orange { color: orange; }
.syntax--block-purple { color: purple; }
.syntax--block-cyan   { color: @ColCyanDark; }
.syntax--block-white  { color: white; }

.syntax--block-underline      { text-decoration: underline; }
.syntax--block-strikethrough  { text-decoration: line-through; }
.syntax--block-bold           { font-weight: bold; }
.syntax--block-italic         { font-style: italic; }

// symbols:
.syntax--todo-done { color: black; text-decoration: line-through }
