.syntax--source.syntax--css {

  // highlight properties/values if they are supported
  .syntax--property-name,
  .syntax--property-value {
    color: @mono-2;
    &.syntax--support {
      color: @mono-1;
    }
  }

}
