.key-binding {
  display: inline-block;
  margin-left: @ui-padding-icon;
  padding: 0 @ui-padding/4;
  line-height: 2;
  font-family: inherit;
  font-size: max(1em, @ui-size*.85);
  letter-spacing: @ui-size/10;
  border-radius: @component-border-radius;
  color: @accent-bg-text-color;
  background-color: @accent-bg-color;
}
