@tree-view-height: @ui-line-height;

.tree-view {
  font-size: @ui-size;
  background: @tree-view-background-color; // tree view background; dark grey brown
  //foreground: hsl(0, 100%, 0%); // black; does now work

  .project-root.project-root {
    &:before {
      height: 2.3em; // folder entry line height
      background-clip: padding-box;
    }
    & > .header .name {
      line-height: 2.3em; // entry line height
    }
  }

  // Selected state
  .selected:before {
    background: @background-color-selected; // selected file, but clicked outside; grey
  }

  // Focus + selected state
  &:focus {
    .selected.list-item > .name, // files
    .selected.list-nested-item > .list-item > .name, // folders
    .selected.list-nested-item > .header:before { // arrow icon
      color: contrast(@button-background-color-selected);
    }
    .selected:before {
      background: @ui-site-color-3; // selected item in the list (focused), orange
    }
  }
}

.theme-one-dark-ui .tree-view .project-root.project-root::before {
  border-top: 1px solid transparent;
  background-clip: padding-box;
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 12px;
  }
}

// Variable height, based on ems
.list-group li:not(.list-nested-item),
.list-tree li:not(.list-nested-item),
.list-group li.list-nested-item > .list-item,
.list-tree li.list-nested-item > .list-item {
  line-height: @tree-view-height;
}

.list-group .selected::before,
.list-tree .selected::before {
  height: @tree-view-height;
}

// icon
.list-group .icon,
.list-tree .icon {
  display: inline-block;
  height: inherit;
  &::before {
    top: initial;
    line-height: inherit;
    height: inherit;
    vertical-align: top;
  }
}

// Arrow icon
.list-group,
.list-tree {
  .header.header.header.header::before {
    top: initial;
    line-height: inherit;
    height: inherit;
    vertical-align: top;
    font-size: inherit;
  }
}
.tree-view .project-root-header.project-root-header.project-root-header.project-root-header::before {
  line-height: @ui-tab-height;
}
