
// ONE light UI variables
// ----------------------------------------------
@import "syntax-variables";

.ui-syntax-color() { @syntax-background-color: hsl(220,1%,98%); } .ui-syntax-color(); // fallback color
@ui-syntax-color: @syntax-background-color;

// Color guards -----------------
@ui-s-h: hue(@ui-syntax-color);
.ui-hue() when (@ui-s-h = 0) { @ui-hue: 220; } // Use blue hue when no saturation
.ui-hue() when (@ui-s-h > 0) { @ui-hue: @ui-s-h; }
.ui-hue();

@ui-saturation:   min( saturation(@ui-syntax-color), 24%); // max saturation
@ui-lightness:    max(  lightness(@ui-syntax-color), 92%); // min lightness

// Main colors -----------------
@ui-fg:     hsl(0, 0%, 80%);
@ui-bg:     hsl(210, 2%, 40%);
@ui-border: darken(@ui-bg, 12%);

// Custom variables
// These variables are only used in this theme
// ----------------------------------------------
@ui-theme-name: highlighter2-light-ui;

// Text (Custom) -----------------
@text-color-faded: fade(@text-color, 30%);

@text-color-added:    @text-color-success;  // green
@text-color-ignored:  @text-color-subtle;   // faded
@text-color-modified: @text-color-warning;  // orange
@text-color-removed:  @text-color-error;    // red
@text-color-renamed:  @text-color-info;     // blue

// Background (Custom) -----------------
@level-1-color: lighten(@ui-bg, 4%);
@level-2-color: @ui-bg;
@level-3-color: darken(@ui-bg, 6%);

@level-3-color-hover:  darken(@ui-bg, 12%);
@level-3-color-active: darken(@ui-bg, 9%);

// Accent (Custom) -----------------
@accent-luma:             luma( hsl(@ui-hue, 50%, 50%) ); // get lightness of current hue

// used for marker, inputs (smaller things)
@accent-color:            hsl(40, 87%, 52%); // tab close button background colour; orange
@accent-text-color:       hsl(0, 0%, 100%); // tab close button foreground colour; white

// used for button, tooltip (larger things)
@accent-bg-color:         mix( hsv( @ui-hue, 40%, 72%), hsl( @ui-hue, 100%, 66%), @accent-luma * 2 );
@accent-bg-text-color:    contrast(@accent-bg-color, hsl(@ui-hue,100%,10%), #fff, 40% );

// used for text only
@accent-only-text-color: mix( hsv( @ui-hue, 70%, 50%), hsl( @ui-hue, 100%, 60%), @accent-luma * 2 );

// Components (Custom) -----------------
@badge-background-color:            @background-color-selected;

@button-text-color-selected:        @accent-bg-text-color;
@button-border-color-selected:      @accent-color;

@checkbox-background-color:         fade(@accent-bg-color, 33%);

@input-background-color-focus:      hsl(210, 2%, 33%); // input field background colour
@input-selection-color:             mix( hsv( @ui-hue, 33%, 95%), hsl( @ui-hue, 100%, 98%), @accent-luma * 2 );
@input-selection-color-focus:       mix( hsv( @ui-hue, 44%, 90%), hsl( @ui-hue, 100%, 94%), @accent-luma * 2 );

@overlay-backdrop-color:            hsl(@ui-hue, @ui-saturation*0.4, @ui-lightness*0.8);
@overlay-backdrop-opacity:          .66;

@progress-background-color:         @accent-color;

@scrollbar-color:                   hsl(40, 0%, 70%); // in the tree view
@scrollbar-background-color:        hsl(240, 1%, 17%); // in the tree view
@scrollbar-color-editor:            hsl(240, 1%, 27%); // of the editor
@scrollbar-background-color-editor: @ui-syntax-color;

@tab-text-color:                    @text-color-subtle;
@tab-text-color-active:             hsl(240, 1%, 90%); // the 'Project' at the top of tree-view; and the 'Settings' tab.
@tab-text-color-editor:             hsl(240, 1%, 17%); // active tab text colour
@tab-background-color-editor:       @ui-syntax-color;
@tab-inactive-status-added:         fade(@text-color-success, 77%);
@tab-inactive-status-modified:      fade(@text-color-warning, 77%);

@tooltip-background-color:          hsl(0, 0%, 80%);
@tooltip-text-color:                hsl(240, 1%, 17%);
@tooltip-text-key-color:            @tooltip-background-color;
@tooltip-background-key-color:      @tooltip-text-color;

// Sizes (Custom) -----------------
@ui-size:                 1em;
@ui-input-size:           @ui-size*1.15;
@ui-padding:              @ui-size*1.5;
@ui-padding-pane:         @ui-size*.5;
@ui-padding-icon:         @ui-padding/3.3;
@ui-line-height:          @ui-size*2;
@ui-tab-height:           @ui-size*2.5;

// Packages variables
// These variables are used to override packages
// ----------------------------------------------
@settings-list-background-color: darken(@level-2-color, 3%);
@theme-config-box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, .2), 0 1px 0 hsla(0, 0%, 100%, .3);
@theme-config-box-shadow-selected: inset 0 1px 3px hsla(0, 0%, 0%, .2);
@theme-config-border-selected: hsla(0, 0%, 0%, .5);

// ONE light UI variables
// ----------------------------------------------

// Official variables
// These variables must be defined in every theme
// Source: https://github.com/atom/atom/blob/master/static/variables/ui-variables.less
// ----------------------------------------------

// Text -----------------
@text-color:            @ui-fg; // includes tree-view text colour; and tabs text colour
@text-color-subtle:     hsl(0, 0%, 80%); // inactive tabs text; grey
@text-color-highlight:  hsl(0, 0%, 80%);; // active tab text; and the 'Project'
@text-color-selected:   hsl(0, 0%, 90%); // text of selected tab in 'Settings'

@text-color-info:    hsl(208, 100%, 54%);
@text-color-success: hsl(132,  60%, 44%);
@text-color-warning: hsl( 37,  90%, 44%);
@text-color-error:   hsl(  0,  90%, 56%);

// Background -----------------
@background-color-info:    hsl(208, 100%, 56%);
@background-color-success: hsl(132,  52%, 48%);
@background-color-warning: hsl( 40,  60%, 48%);
@background-color-error:   hsl(  5,  72%, 56%);

@background-color-highlight: darken(@ui-bg, 8%);
@background-color-selected:  darken(@ui-bg, 12%);

@app-background-color: darken(@ui-bg, 6%);

// Base -----------------
@base-background-color: @ui-bg;
@base-border-color:     @ui-border;

// Components -----------------
@pane-item-background-color:       @base-background-color;
@pane-item-border-color:           @base-border-color;

@input-background-color:           @level-1-color;
@input-border-color:               @base-border-color;

@tool-panel-background-color:      darken(@ui-bg, 6%);
@tool-panel-border-color:          @base-border-color;

@inset-panel-background-color:     lighten(@level-2-color, 4%);
@inset-panel-border-color:         fadeout(@base-border-color, 15%);

@panel-heading-background-color:   @level-2-color;
@panel-heading-border-color:       @base-border-color;

@overlay-background-color:         mix(@level-2-color, darken(@ui-bg, 6%));
@overlay-border-color:             @base-border-color;

@button-background-color:          @level-1-color;
@button-background-color-hover:    darken(@button-background-color, 4%);
@button-background-color-selected: @accent-bg-color;
@button-border-color:              @base-border-color;

@tab-bar-background-color:         hsl(210, 2%, 20%); // tab bar background colour
@tab-bar-border-color:             @base-border-color; // tab bar border colour
@tab-background-color:             darken(@ui-bg, 6%); 
@tab-background-color-active:      darken(@ui-bg, 15%);
@tab-border-color:                 lighten(@ui-bg, 20%);

@tree-view-background-color:       hsl(210, 2%, 20%); // dark grey brown
@tree-view-border-color:           hsl(240, 1%, 17%); // darker grey brown

@ui-site-color-1: hsl(208, 100%, 56%); // blue
@ui-site-color-2: hsl(132,  48%, 48%); // green
@ui-site-color-3: hsl( 40,  60%, 52%); // orange
@ui-site-color-4: #D831B0;             // pink
@ui-site-color-5: #EBDD5B;             // yellow

// Sizes -----------------
@font-size:               12px;
@input-font-size:         14px;
@disclosure-arrow-size:   12px;

@component-padding:       10px;
@component-icon-padding:  5px;
@component-icon-size:     16px; // needs to stay 16px to look sharpest
@component-line-height:   25px;
@component-border-radius: 3px;

@tab-height:              30px;

// Font -----------------
@font-family: system-ui;
