// Colours:

// Monochrome -----------------------------------
@mono-1: hsl(230, 8%, 24%);
@mono-2: hsl(230, 6%, 44%);
@mono-3: hsl(230, 4%, 64%);

// Colors -----------------------------------
@hue-1:   hsl(198, 99%, 37%); // <-cyan
@hue-2:   hsl(221, 87%, 60%); // <-blue
@hue-3:   hsl(301, 63%, 40%); // <-purple
@hue-4:   hsl(119, 34%, 47%); // <-green

@hue-5:   hsl(  5, 74%, 59%); // <-red 1
@hue-5-2: hsl(344, 84%, 43%); // <-red 2

@hue-6:   hsl(41, 99%, 30%); // <-orange 1
@hue-6-2: hsl(41, 99%, 38%); // <-orange 2

// Base colors -----------------------------------
@syntax-fg:     hsl(230, 8%, 24%);
@syntax-bg:     hsl(230, 1%, 98%);
@syntax-guide:  fade(@syntax-fg, 20%);
@syntax-accent: hsl(230, 100%, 66%);

// Official Syntax Variables -----------------------------------
// General colors
@syntax-text-color:            @syntax-fg;
@syntax-cursor-color:          @syntax-accent;
@syntax-selection-color:       hsl(230, 1%, 90%);
@syntax-selection-flash-color: @syntax-accent;
@syntax-background-color:      @syntax-bg;

// Guide colors
@syntax-wrap-guide-color:          @syntax-guide;
@syntax-indent-guide-color:        @syntax-guide;
@syntax-invisible-character-color: @syntax-guide;

// For find and replace markers
@syntax-result-marker-color:          hsl(40, 100%, 55%); // find and replace highlight colour
@syntax-result-marker-color-selected: hsl(0, 0%, 0%); // find and replace current selection border colour

// Gutter colors -----------------------------------
@syntax-gutter-text-color:                hsl(0,0%,0%);
@syntax-gutter-text-color-selected:       @syntax-fg;
@syntax-gutter-background-color:          @syntax-bg; // unused
@syntax-gutter-background-color-selected: darken(@syntax-bg, 8%);

// Git colors - For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 66%);
@syntax-color-added:    hsl(132,  60%, 44%);
@syntax-color-modified: hsl( 40,  90%, 50%);
@syntax-color-removed:  hsl(  0, 100%, 54%);

// For language entity colors
@syntax-color-variable:   @hue-5;
@syntax-color-constant:   @hue-6;
@syntax-color-property:   @syntax-fg;
@syntax-color-value:      @syntax-fg;
@syntax-color-function:   @hue-2;
@syntax-color-method:     @hue-2;
@syntax-color-class:      @hue-6-2;
@syntax-color-keyword:    @hue-3;
@syntax-color-tag:        @hue-5;
@syntax-color-attribute:  @hue-6;
@syntax-color-import:     @hue-3;
@syntax-color-snippet:    @hue-4;

// Custom Syntax Variables -----------------------------------
// Don't use in packages
@syntax-cursor-line: fade(@syntax-fg, 5%); // needs to be semi-transparent to show search results

@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;
